extends /layouts/tasks.pug

block tasks
  h4 Add new tasks
  +formFor(f, { url: urlFor('addTasks'), method: 'post' })
    +input(f, 'name', { required: true })
    +input(f, 'description')
    +select(f, 'status', { required: true, items: taskStatuses })
    +input(f, 'assignedTo')
    +input(f, 'tags', { required: true })
    +button(f, 'Add')