//-  total, maxPages, offset, limit, current: actualPage,
mixin pagination(pagination)
  nav(aria-label='pagination')
    ul.pagination
      for item in pagination.items
        li.page-item(class=`${item.disabled ? 'disabled' : ''}`)
          a.page-link(href= urlFor(pagination.urlAlias, { query: item.query }))= item.value




