extends /layouts/application.pug

block content
  +formFor(f, { url: urlFor('changeUserPassword', { id }), method: 'patch' })
    +input(f, 'password', { as: 'password' })
    +input(f, 'newPassword', { as: 'password' })
    +input(f, 'confirmPassword', { as: 'password' })
    +button(f)
