extends /layouts/application.pug

block content
  +formFor(f, { url: urlFor('saveUserProfile', { id }), method: 'patch' })
    +input(f, 'email')
    +input(f, 'firstName')
    +input(f, 'lastName')
    +button(f)
