extends /layouts/application.pug

block content
  +formFor(f, { url: urlFor('saveCurrentUserProfile'), method: 'patch' })
    +input(f, 'email', { required: true })
    +input(f, 'firstName')
    +input(f, 'lastName')
    +button(f, 'Save Profile')
  hr
  button.btn.btn-danger(type='button' data-toggle='modal' data-target='#deleteProfile' ) Delete profile
  .modal.fade#deleteProfile(role='dialog' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5.modal-title Warning!
        .modal-body
          p Are you sure you want to delete your profile?
        .modal-footer          
          a.btn.btn-danger(href=urlFor('deleteCurrentUser') role='button' data-method='delete' rel='nofollow') Delete
          a.btn.btn-secondary(href='#' data-dismiss='modal') Cancel